---
layout: default
title: Zak Weiland | View | Users | Settings
---

<div class="col-md-12">
	<div role="main" id="content" class="content selfclear relative">
		<div class="header">
			<h1 class="inline-block-i">Settings</h1>
			<nav class="local-nav-container selfclear"> 
				<ul class="nav-menu local-nav selfclear">
					<li class="nav-item fwb current">
						<a href="/settings/users/">Users</a>
					</li>
					<li class="nav-item fwb">
						<a href="/settings/roles/">Roles</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="below12">
			<h2 class="inline-block-i">Zak Weiland</h2>
			<div class="float-right alignr">
		        <a href="#" class="button">Edit</a>
		        <a href="#" class="button">Change password</a>
			</div>
        </div>
        <div class="row below48">
        	<div class="col-md-6">
	        	<h4>User details</h4>
	        	<div class="row below12">
		        	<strong class="col-md-3">Email address</strong>
		        	<span class="col-md-9">zak.weiland@ambonare.com</span>
	        	</div>
	        	<div class="row below12">
		        	<strong class="col-md-3">Username</strong>
		        	<span class="col-md-9">zak.weiland</span>
	        	</div>
	        	<div class="row below12">
		        	<strong class="col-md-3">Position Code</strong>
		        	<span class="col-md-9">CWW3</span>
	        	</div>
        	</div>
        	<div class="col-md-6">
	        	<h4>User statistics</h4>
	        	<div class="row below12">
		        	<strong class="col-md-3">Last session</strong>
		        	<span class="col-md-9">DD MMM YYYY X:XXPM</span>
	        	</div>
	        	<div class="row below12">
		        	<strong class="col-md-3">Last login</strong>
		        	<span class="col-md-9">DD MMM YYYY X:XXPM</span>
	        	</div>
	        	<div class="row below12">
		        	<strong class="col-md-3">Created date</strong>
		        	<span class="col-md-9">DD MMM YYYY X:XXPM</span>
	        	</div>
        	</div>
        </div>
		<h3 class="inline-block-i">Roles</h3>
	    <a href="#" class="button float-right">Add role</a>
		<table>
			<thead>
				<tr>
					<th class="th-title">Name</th>
					<th>Description</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><a href="/settings/roles/view/">Role name</a></td>
					<td>Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam at porttitor sem</td>
					<td class="alignr"><a href="#" class="text-red">Remove role</a></td>
				</tr>
				<tr>
					<td><a href="/settings/roles/view/">Role name</a></td>
					<td>Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam at porttitor sem</td>
					<td class="alignr"><a href="#" class="text-red">Remove role</a></td>
				</tr>
				<tr>
					<td><a href="/settings/roles/view/">Role name</a></td>
					<td>Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam at porttitor sem</td>
					<td class="alignr"><a href="#" class="text-red">Remove role</a></td>
				</tr>
		</table>
	</div>
</div>