	<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

	<div id="skiplink-container">
		<div>
			<a href="#content" class="skiplink">Skip to main content</a>
		</div>
	</div>

	<header role="banner" id="global-header" class="">
		<div class="header-wrapper">
			<div class="header-global wrap">
				<nav id="global-nav" class="float-left">
					<ul class="nav-menu">
						<li class="nav-item fwb">
							<a href="#">
								<img src="/img/icon-menu.png" alt="Navigate to Business Groups" />
							</a>
							<div class="sub-nav">
								<ul class="sub-nav-group">
									<li><a href="/reader-services/">Reader Services</a></li>
									<li><a href="/collections/">Collections</a></li>
									<li><a href="/audio/">Audio</a></li>
									<li><a href="/circulation/">Circulation</a></li>
									<li><a href="/public-awareness/">Public Awareness</a></li>
									<li><a href="/office-services/">Office Services</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>

				<div class="header-logo">
					<a href="/" title="Go to Dashboard" id="logo" class="content">
						<img src="/img/huxley-logo.png" alt="Go to Dashboard" />
					</a>
				</div>

				<nav id="global-nav" class="float-left">
					<ul class="nav-menu">
						<li class="nav-item fwb">
							<a href="/books/">Books</a>
							<div class="sub-nav">
								<ul class="sub-nav-group">
									<li><a href="#">Subject Heading &amp; Interest Areas</a></li>
									<li><a href="#">Book Series</a></li>
									<li><a href="#">Book Reserves</a></li>
									<li><a href="#">ILL Book Reserves</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item fwb">
							<a href="/magazines/">Magazines</a>
							<div class="sub-nav">
								<ul class="sub-nav-group">
									<li><a href="#">Magazine Media</a></li>
									<li><a href="#">Producers</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item fwb">
							<a href="/machines/">Machines</a>
							<div class="sub-nav">
								<ul class="sub-nav-group">
									<li><a href="#">Models</a></li>
									<li><a href="#">Select Queue</a></li>
									<li><a href="#">Hold Ranges</a></li>
									<li><a href="#">Repair Centers</a></li>
									<li><a href="#">Accessories</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item fwb">
							<a href="/patrons/">Patrons</a>
						</li>
					</ul>
				</nav>

				<nav id="global-utility" class="float-right"> 
					<ul class="nav-menu">
						<li class="nav-item fwb">
							<a href="#">Zak</a>
							<div class="sub-nav sub-nav-right">
								<ul class="sub-nav-group">
									<li><a href="#">Profile</a></li>
									<li><a href="#">Reports</a></li>
									<li><a href="#">Settings</a></li>
									<li><a href="#">Log out</a></li>
								</ul>
							</div>
						</li>
						<li class="nav-item fwb nav-search-toggle nav-border-left">
							<a href="#search" class="search-toggle js-header-toggle">Search</a>
						</li>
					</ul>
				</nav>
        	</div>
		</div>
	</header>