	<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

	<div id="skiplink-container">
		<div>
			<a href="#content" class="skiplink">Skip to main content</a>
		</div>
	</div>

	<header role="banner" id="global-header" class="">
		<div class="header-wrapper">
			<div class="header-global">
				<div class="header-logo">
					<a href="/" title="Go to Dashboard" id="logo" class="content">
						<img src="/img/huxley-logo.png" alt="Go to Dashboard" />
					</a>
				</div>

				<nav id="global-nav" class="float-left">
					<ul class="nav-menu">
						<li class="nav-item fwb">
							<a href="/patterns/">Patterns</a>
						</li>
						<li class="nav-item fwb">
							<a href="/patterns/about.html">About</a>
						</li>
					</ul>
				</nav>
        	</div>
		</div>
	</header>